<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Java12306</title>
    <!--<script src="js/vue.min.js"></script>-->
    <script src="js/jquery.min.js"></script>

    <script src="js/vendor/jquery.ui.widget.js"></script>
    <!--<script src="js/jquery.iframe-transport.js"></script>-->
    <script src="js/jquery.fileupload.js"></script>
    <script src="js/jquery.fileupload-process.js"></script>
    <script src="js/jquery.fileupload-validate.js"></script>
    <link rel="stylesheet" href="css/12306.css">
<body>
<div class="header"><h2 style="text-align: left">12306 VERIFICATION CODE IDENTIFICATION</h2></div>

<div class="container">
    <a href="www.dill.com:8000/image/image.png">click</a>

    <div class="jquery-fileupload">
        <div class="headline"><h3>Crack by image</h3></div>
        <div class="">
            <input id="uploadImg" type="file" name="uploadImg" multiple style="display: none"/>
            <button id="chooseFile">选择文件</button>
            <button id="uploadFile">开始上传</button>
            <button id="rechooseFile">重新选择</button>
        </div>
        <div>
            <img id="image" src="">
        </div>
        <div id="progress">
            <div class="bar" style="width: 0%;"></div>
        </div>
        <div id="response"></div>
    </div>
    <div class="random">
        <div class="headline"><h3>Crack by randomImage</h3></div>
        <div class="">
            <button id="randomCrawling">随机爬取</button>
        </div>
        <div>
            <img id="randomImage" src="">
        </div>
        <div id="response2"></div>
    </div>
    <div class="base64">
        <div class="headline"><h3>Crack by base64</h3></div>
        <button id="submit">submit</button><br/>
        <textarea name="base64" id="content" cols="30" rows="10" style="width:300px;height: 200px"></textarea>

        <div id="response1"></div>
    </div>
</div>
<div class="invocation">
    <div class="headline"><h3>Invocation(Python)</h3></div>
    <ol>

        <ul style="margin-bottom: 10px">
            <span style="padding-left: 5px">image</span>
            <image src="image/image.png"></image>
        </ul>
        <ul>
            <span style="padding-left: 5px">base64</span>
            <image src="image/base64.png"></image>
        </ul>
    </ol>
</div>
<div class="footer">
    <div class="headline"><h3>Source(Java)</h3></div>
    <a href="https://github.com/vua/Java12306" style="text-decoration: none"><b style="color: red">Java12306 (click to view)</b></a>

</div>
<script src="js/12306.js"></script>
</body>

</html>